<div class="container text-center p-4">
  <h1 class="m-5" >Add a new station</h1>

  <%= render "form", station: @station %>

  <br>

  <div>
    <%= link_to "Back to map", stations_path %>
  </div>
</div>
