<div class="main-wrapper">


  <input type="checkbox" name="open" id="open">

  <div class="navbar-lewagon">
    <div class="icon-wrapper">
      <div>
        <a  href="/stations"><i class="fa-solid fa-map-location-dot"></i></a>
      </div>
      <div id="open-nav">
        <label for="open"> <i class="fa-solid fa-bars"></i></label>
      </div>
      <div>
        <a href="<%= new_station_path %>"><i class="fa-solid fa-plus" ></i></a>
      </div>
      <div>
        <a href="/profile"><i class="fa-solid fa-user"></i></a>
      </div>
    </div>
  </div>

</div>

