<div class="fixed-bottom navbar navbar-expand-sm navbar-light navbar-lewagon col-xs-12 rounded-pill m-3 bg-primary">
  <div class="container-fluid">
    <div class="row w-100 m-auto">
        <ul class="navbar-nav list-group list-group-horizontal m-auto d-flex justify-content-around">
          <div class="nav-item display-6">
            <a class="nav-link text-white" href="/stations"><i class="fa-solid fa-map-location-dot"></i></a>
          </div>
          <div class="nav-item display-6">
            <a class="nav-link text-white" href="<%= new_station_path %>"><i class="fa-solid fa-handshake"></i></a>
          </div>
          <div class="nav-item display-6">
            <a class="nav-link text-white" href="/profile"><i class="fa-solid fa-user"></i></a>
          </div>
        </ul>
        </div>
    </div>
  </div>
</div>
