
  <div>
    <div class="container text-center p-4">
      <div class="">
        <h5></h5>
        <a href="/stations"><button type="button" class="btn-close text-reset" aria-label="Close"></button></a>
      </div>

      <div class="logo-profile">
        <a href="/"><img src="https://i.ibb.co/6HhrhNq/logo-EV-212.png"  alt="EV-212" width="135px" height="81px"></a>
      </div>
      <div class="text-center m-3 text-primary border-bottom border-primary opacity-75" style="letter-spacing: 7px" >
        <h1>OUR  STORY</h1>
      </div>
      <div class=" m-2 text-primary opacity-75" style="text-align:justify">
        <p>Someday, Amine decided to take a roadtrip to Casablanca 🇲🇦 from Bordeaux 🇫🇷 using his <b>ELECTRIC </b>car 🥵...<br>
        On his way, he had trouble finding charging stations in Morocco.<br>
        On his arrival, he met Driss & Ismail. The rest is EV212...</p>
      </div>

      <div class="founders rounded-4" style="background-color:#5793FE">
        <div class="founder pt-3">
          <div class="text-center">
              <img class= "pic-profile" src="https://avatars.githubusercontent.com/u/108731873?v=4"  alt="profile-pic" width="100px" height="100px">
          </div>
          <h3 class="mt-3 text-center text-white"><b>AMINE</b></h3>
          <div class="text-center m-3 text-white border-bottom border-white" >
            <h6>Family man, Father of 4, Entrepreneur and Environmentalist, Passionate about new technologies.</h6>
          </div>
        </div>

        <div class="founder">
          <div class="text-center mt-3">
              <img class= "pic-profile" src="https://i.ibb.co/gDYsNzz/Screen-Shot-2022-08-20-at-19-40-38.png"  alt="profile-pic" width="100px" height="100px">
          </div>
          <h3 class="mt-3 text-center text-white"><b>ISMAIL</b></h3>
          <div class="text-center m-3 text-white border-bottom border-white" >
            <h6>Oral & Dental Surgeon, Entrepreneur and Polyglot. A Problem-solver in heart, in his free-time he's learning something new.</h6>
          </div>
        </div>

        <div class="founder pb-2">
          <div class="text-center mt-3">
              <img class= "pic-profile" src="https://avatars.githubusercontent.com/u/109488043?v=4"  alt="profile-pic" width="100px" height="100px">
          </div>
          <h3 class="mt-3 text-center text-white"><b>DRISS</b></h3>
          <div class="text-center m-3 text-white" >
            <h6>Mechanical Engineer in the making, Multilingual and passionate about travelling.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
