<div class="container">
    <div class="row text-center">
      <div class="col-xs-12 bg">
        <a href="/stations">
        <img classe="bagroud" src="https://i.ibb.co/fYg4nb3/EV-212-You-Tube-Shorts-10.gif"  style="width: 360px; height: 95vh;" alt="">

      </a>

       </div>
      </div>
    </div>
