<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta content='text/html; charset=UTF-8'>
    </head>
    <body>
      <p>Name : <%= @contact[:name]%></p>
      <p>email : <%= @contact[:email]%></p>
      <p>Message : <br><%= @contact[:message]%></p>
    </body>
  </html>
