
<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>404</h1>
        <h3>LOST IN <span>SPACE</span> EV-212? Hmm, looks like that page doesn't exist.</h3>
        <img id="astronaut" src="https://raw.githubusercontent.com/tsparticles/404-templates/9caf194db95ae185c85a1b8f13c2386dc2d79bd1/space/images/astronaut.svg" />
        <img id="planet" src="https://raw.githubusercontent.com/tsparticles/404-templates/9caf194db95ae185c85a1b8f13c2386dc2d79bd1/space/images/planet.svg" />
        <a href="/stations"><button class="denied__link">Go Home</button></a>
    </div>

</body>
